@import "tailwindcss";

html, body, #root {
  height: 100%;
}
body {
  margin: 0;
  background-color: black;
  user-select: none;
}

@layer base {
  button {
    cursor: pointer;
  }

  button:disabled,
  button[aria-disabled="true"] {
    cursor: not-allowed;
  }
}
